<header class="header">
  <div class="header__container">
    <a href="/" class="header__logo"> Ландшафт Парк </a>

    <nav class="header__nav" aria-label="Основная навигация">
      <a href="/">Главная</a>
      <a href="/catalog">Каталог</a>
      <a href="/#production">Производство</a>
      <!-- <a href="/#delivery">Доставка</a> -->
      <a href="/contacts">Контакты</a>
    </nav>

    <div class="header__right">
      <a href="/cart" class="header__cart" aria-label="Перейти в корзину">
        <img
          src="/site/images/cart-green.webp"
          alt=""
          class="header__cart-icon"
        />

        <span
          class="header__cart-count"
          data-cart-count
          aria-label="Товаров в корзине"
        >
          0
        </span>
      </a>

      <div class="header__actions">
        <a href="tel:+79610938663" class="header__phone"> +7 961-093-86-63 </a>

        <a href="/#calculate" class="header__button"> Рассчитать </a>
      </div>

      <button
        class="header__burger"
        type="button"
        aria-label="Открыть меню"
        aria-expanded="false"
        aria-controls="mobile-menu"
      >
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>
  </div>

  <div class="mobile-menu" id="mobile-menu">
    <div class="mobile-menu__inner">
      <nav class="mobile-menu__nav" aria-label="Мобильная навигация">
        <a href="/">Главная</a>
        <a href="/catalog">Каталог</a>
        <a href="/#production">Производство</a>
        <!-- <a href="/#delivery">Доставка</a> -->
        <a href="/contacts">Контакты</a>
      </nav>

      <div class="mobile-menu__bottom">
        <a href="tel:+79610938663" class="mobile-menu__phone">
          +7 961-093-86-63
        </a>

        <a href="/#calculate" class="mobile-menu__button"> Рассчитать объём </a>
      </div>
    </div>
  </div>
</header>
